/* PackReveal.module.css */
.confetti {
    animation: fadeOut 4s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes distribute {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add these styles to PackReveal.module.css */
@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(110%);
  }
}

@keyframes cardReveal {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.placeholders {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.placeholder {
  width: 80px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.packRevealContainer {
  position: relative;
  max-height: calc(100vh);
  overflow-y: auto;
}

.modalContainer {
  position: relative;
  width: 80%;
  height: 80vh; /* Adjust the height as needed */
  /* Other modal styles */
}